* {
	all: unset;
	  background-image: none;
	transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);

}

window {
	background: rgba(0, 0, 0, 0.5);
}

button {
	font-family: 'Jetbrains Mono';
	font-size: 20;
	background-color: rgba(11, 11, 11, 0.4);
	color: #FFFFFF;
	margin: 2;
	border-radius: 10;
	padding: 3;
}

button:focus,
button:active,
button:hover {
	background-color: rgba(51, 51, 51, 0.5);
	border-radius:4rem;
}
