prefer-no-csd
/////////////////////////////////////////////////
input {
    keyboard {
      repeat-rate 35
      repeat-delay 200
        xkb {
          options "caps:swapescape"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
        dwt
        accel-profile "adaptive"
    }
        warp-mouse-to-focus
     focus-follows-mouse max-scroll-amount="50%"
}
//////////////////////////////////////////////////
output "eDP-1" {
    mode "1920x1080@144.149"
    scale 1.25
}
//////////////////////////////////////////////////
spawn-sh-at-startup " quickshell -c ~/.config/quickshell/noctalia-shell/"
spawn-sh-at-startup "foot --server"
spawn-sh-at-startup "udiskie"
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "hypridle"


